#IoT-Open connection settings
#Create a installation in IoT-Open and get the Client_ID as well as Installation_ID to fill in in this document. You also need to create a API key
DECODER_NAME=Milesight_xxx
IOTOPEN_MQTT_HOST=
IOTOPEN_MQTT_PORT=8883
IOTOPEN_MQTT_USERNAME=username
IOTOPEN_MQTT_PASSWORD=password
IOTOPEN_CLIENT_ID=
IOTOPEN_INSTALLATION_ID=
IOTOPEN_BASEURL=
IOTOPEN_MQTT_CLIENT_NAME=Milesight_xxx
